<h3><%= @flat.name %> - <%= @flat.price_per_night %> <i class="fa-solid fa-euro-sign"></i>  - <%= @flat.number_of_guests %> guests <i class="fa-solid fa-users"></i> </h3>

<%= link_to "Edit accomodation", edit_flat_path(@flat)  %>

<p><%= @flat.address %></p>
<p><%= @flat.description %></p>

<p><%= link_to "Delete", flat_path(@flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>

<%= link_to "Return to all accomodations", flats_path %>
